# macOS
.DS_Store

# User preferences
*.userprefs
*.user

# Derived files
BUILD
DerivedFiles
bin
obj
NGSEngine/target

# But not source code for executables!
!NGSEngine/src/yfft/src/bin

# Cache files
*.pyc

# Local files
NOTES.md
x64/
*~
