# macOS
.DS_Store

# User preferences
*.userprefs
*.user

# Derived files
BUILD
DerivedFiles
bin
obj
NGSEngineInterop/Generated/*.cs
NGSEngineInterop/Generated/xpidlcache

# Cache files
*.pyc

# Local files
NOTES.md
x64/
