# macOS
.DS_Store

# User preferences
*.userprefs
*.user
/.vs/

# Derived files
BUILD
DerivedFiles
bin
obj
EngineCore/target
/Derived
*.Artifacts

# But not source code for executables!
!EngineCore/src/yfft/src/bin

# Cache files
*.pyc

# Local files
NOTES.md
x64/
*~
/Ngs.Application/*.dylib
/Ngs.Application/*.so
/Ngs.Application/*.dll
